In [2]:
# import package
# --------------
import sqlite3


# Connect to SQlite
# -----------------

#Our database name: Naresh_it_employee
connection=sqlite3.connect("Naresh_it_employee.db")


# Create a cursor object to run queries
# -------------------------------------
cursor=connection.cursor()


#create the table - Nit_employees

table_info="""
Create table Nit_employees(employee_name varchar(30),
                    employee_role varchar(30),
                    employee_salary FLOAT);
"""

cursor.execute(table_info)


#Insert the records

cursor.execute('''Insert Into Nit_employees values('Pat Cummins','Data Science',75000)''')
cursor.execute('''Insert Into Nit_employees values('Glenn Maxwell','Data Science',90000)''')
cursor.execute('''Insert Into Nit_employees values('David Warner','Data Science',88000)''')
cursor.execute('''Insert Into Nit_employees values('Adam Zampa','Data Engineer',50000)''')
cursor.execute('''Insert Into Nit_employees values('Marcus Stoinis','Data Engineer',35000)''')
cursor.execute('''Insert Into Nit_employees values('Travis Head','Data Engineer',60000)''')


# Display aLl the records

data=cursor.execute('''Select * from Nit_employees''')

print("The inserted records are")
for row in data:
    print(row)


# Commit the changes in the database
# ----------------------------------
connection.commit()
connection.close()